/* VARIABLES & FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

$blue: hsla(201, 50%, 43%, 1);
$red: hsla(0, 35%, 58%, 1);
$greenL: hsla(194, 30%, 62%, 1);
$greenD: hsla(194, 50%, 33%, 1);
$light: hsla(0, 0%, 100%, 1);
$grayL: rgb(233, 237, 238);
$grayD: hsla(0, 0%, 37%, 1);
$dark: hsla(0, 0%, 20%, 1);

/* BASE */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* default 10px */
  font-size: 80%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  padding: 20px;
}

.hidden {
  display: none;
}

/* TYPOGRAPHY */
h1 {
  font-size: 2.7rem;
  letter-spacing: 0.05em;
  font-weight: 800;
}

h2 {
  font-size: 1.4rem;
  font-weight: 400;
}

h3 {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.05em;
}

h4 {
  font-size: 0.9rem;
  font-weight: 600;
}

.bold {
  font-weight: 600;
}

/* HEADER */
.header {
  font-family: "Bungee";
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  svg {
    font-size: 3rem;
  }
}

/* MAIN */
.main {
  display: flex;
  flex-direction: column;
  .reset {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px 30px 0px;
    .btn-reset {
      border: none;
      background-color: $blue;
      padding: 5px 30px;
      font-size: 1.3rem;
      font-weight: 300;
      color: $light;
      transition: all 150ms;
      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 2px 3px 0 hsl(0 0% 0% / 0.1);
      }
    }
  }
  .cv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

/* FORM */
.cv-form {
  width: 575px;
  background-color: $grayL;
  border: none;
  border-radius: 2px;
}

form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  h2 {
    margin-bottom: 5px;
  }
  .group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
  input {
    border: none;
    border-bottom: 1px solid $light;
    background-color: $light;
    font-family: inherit;
    font-size: 1rem;
    padding: 5px;
    width: 100%;
    color: $grayD;
    &:focus {
      border-bottom: 1px solid $blue;
    }
    &:hover {
      border-bottom: 1px solid $blue;
    }
  }
  textarea {
    border: none;
    border-bottom: 1px solid $light;
    background-color: $light;
    font-family: inherit;
    font-size: 1rem;
    padding: 5px;
    width: 100%;
    color: $grayD;
    width: 100%;
    resize: none;
    &:focus {
      border-bottom: 1px solid $blue;
    }
    &:hover {
      border-bottom: 1px solid $blue;
    }
  }
  button {
    border: none;
    color: $light;
    font-size: 0.9rem;
    font-weight: 500;
    transition: all 150ms;
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 2px 3px 0 hsl(0 0% 0% / 0.1);
    }
    &.btn-add {
      padding: 4px 12px;
      width: 100%;
      background-color: $greenD;
      margin: 5px 0px;
    }
    &.btn-delete {
      padding: 4px 12px;
      width: 100%;
      background-color: $red;
    }
  }
}

/* PREVIEW */
.cv-preview {
  padding: 50px;
  width: 575px;
  min-width: 595px;
  height: 842px;
  border: 1px solid $dark;
  border-radius: 2px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: $grayD;
}

.personal-heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid $greenL;
  padding-bottom: 20px;
  margin-bottom: 20px;
  .personal-name {
    display: flex;
    flex-direction: column;
    h1 {
      color: $greenD;
      text-transform: uppercase;
      font-size: 2.3rem;
    }
    h2 {
      color: $grayD;
    }
  }
  .personal-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    .contact-details {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      .details-text {
        font-size: 0.8rem;
      }
      svg {
        width: 14px;
      }
    }
  }
}

.view-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  .view-section-title {
    text-transform: uppercase;
    color: $blue;
  }
  .item-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    .item-heading {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      h4 {
        color: $dark;
      }
      .item-details {
        color: $dark;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 2px;
        font-size: 0.9rem;
      }
    }
    .item-description {
      margin-bottom: 5px;
    }
  }
}

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 1.3rem;
  margin-top: 25px;
  svg {
    color: $dark;
    font-size: 1.4rem;
  }
}
